[submodule "Lib/websocketsharp"]
	path = Lib/websocketsharp
	url = https://github.com/sta/websocket-sharp.git
[submodule "Lib/CommandLineMenu"]
	path = Lib/CommandLineMenu
	url = https://github.com/nvanlaerebeke/CommandLineMenu.git
[submodule "Lib/Logging"]
	path = Lib/Logging
	url = https://github.com/nvanlaerebeke/Logging.git